In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("abc.csv") # for reading data from csv files

In [3]:
a.head(5) # we can perform multiple operation on that file as we have perform the head operation

         Date   Open   High    Low  Close  Volume
0  07/19/2022  40.13  41.21  40.13  41.11  73,122
1  07/18/2022  40.85  41.01  39.44  39.60  47,827
2  07/15/2022  39.98  40.87  39.68  40.39  65,794
3  07/14/2022  38.55  39.69  38.45  39.32  60,351
4  07/13/2022  39.00  39.34  38.68  39.08  70,223

In [4]:
a["Open"].dtype # for checking the type of elements in csv file

dtype('float64')

In [5]:
print(a['Date'].dtype)  # if datatype is not clearly or mean it is any sentences or words then the type is always object

object

In [6]:
a['Low'].astype('category') # for getting data into the category

C:\python310\lib\site-packages\IPython\lib\pretty.py:778: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  output = repr(obj)

0     40.13
1     39.44
2     39.68
3     38.45
4     38.68
5     39.09
6     39.25
7     39.58
8     39.74
9     39.20
10    38.95
11    39.34
12    37.83
13    38.72
14    39.32
15    38.63
16    37.64
17    36.57
18    36.50
19    36.14
Name: Low, dtype: category
Categories (20, float64): [36.14, 36.50, 36.57, 37.64, ..., 39.58, 39.68, 39.74, 40.13]

In [7]:
a['High'] # for printing single line from data

0     41.21
1     41.01
2     40.87
3     39.69
4     39.34
5     39.76
6     40.10
7     40.18
8     40.35
9     40.22
10    40.01
11    40.31
12    39.65
13    39.43
14    40.63
15    39.98
16    39.40
17    37.57
18    37.62
19    37.76
Name: High, dtype: float64

In [8]:
# we can perform multiple operations here above are only some of the simples

In [9]:
data1 = pd.DataFrame([[1,2,3,4,5], [21,32,43,54,65], [12,34,545,66,75], [9,87,56,67,87], [98,78,69,87,45]])

In [10]:
data1

    0   1    2   3   4
0   1   2    3   4   5
1  21  32   43  54  65
2  12  34  545  66  75
3   9  87   56  67  87
4  98  78   69  87  45

In [11]:
data1.to_csv('xyz.csv') # for writing data into a csv file

In [12]:
data2 = pd.DataFrame([[1,2,3,4,5], [21,32,43,54,65], [12,34,545,66,75], [9,87,56,67,87], [98,78,69,87,45]], columns=['A','B','C','D','E'])

In [13]:
data2.to_csv('colfile.csv', index=False)  # for removing the index that comes into first line of files